media-proxy.misskey.blue {
	tls /etc/ssl/certs/certificate.pem /etc/ssl/private/key.pem

	log {
		output file /var/log/caddy/access.log {
			roll_size 500mb
			roll_keep 10
		}
		format json {
			time_format iso8601
		}
	}

	reverse_proxy media-proxy:3000 {
		header_up X-Real-IP {header.CF-Connecting-IP}
		header_up X-Forwarded-For {header.CF-Connecting-IP}
		header_up X-Forwarded-Proto {scheme}
		header_up X-Forwarded-Host {host}

		# health check
		health_uri /
		health_interval 10s
		health_timeout 2s
		health_status 200
	}
}
